<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sanko.suppserver.SuppDao">
	<insert id="createLogin">
		INSERT INTO logins (username, password) 
		VALUES (#{username}, #{password})
	</insert>
	
	<select id="getPassword" resultType="string">
		SELECT password FROM logins WHERE username = #{username} LIMIT 1
	</select>
</mapper>